body {
  margin: 0;
  padding: 0;
}
main {
  margin-top: 56px;
  margin-bottom: 60px;
}
.div-block {
  padding: 30px;
  min-height: calc(100vh - 116px);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: aliceblue;
}
.about {
  background-color: #c6c6c6;
  background-image: url("/img/bg1.jpg");
}
.skills {
  background-image: url("/img/bg2.jpg");
}
.contacts {
  background-color: #c6c6c6;
  background-image: url("/img/bg3.jpg");
}
.container-footer {
}
